<!-- Section Footer  -->
<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo"><%=I18n.t("my_gifts") %></h1>

    <h2><%=I18n.t("contact") %></h2>

    <address>
      <%=I18n.t("address") %><br>
    </address>
  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title"><%=I18n.t("go_to_actions") %></h2>

      <ul class="nav__ul">
        <li><a href="#"><%=I18n.t("headphones") %></a></li>
        <li><a href="#"><%=I18n.t("flowers") %></a></li>
        <li><a href="#"><%=I18n.t("cakes") %></a></li>
        <li><a href="#"><%=I18n.t("watches") %></a></li>
      </ul>
    </li>

    <li class="nav__item nav__item--extra">
      <h2 class="nav__title"><%=I18n.t("features") %></h2>

      <ul class="nav__ul nav__ul--extra">
        <li><a href="#"><%=I18n.t("delivery") %></a></li>

        <li><a href="#"><%=I18n.t("24_services") %></a></li>

        <li>
          <a href="#"><%=I18n.t("online_orders") %></a>
        </li>

        <li>
          <a href="#"><%=I18n.t("free_bundle") %></a>
        </li>
        <li>
          <a href="#"><%=I18n.t("gift_services") %></a>
        </li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title"><%=I18n.t("rights") %></h2>

      <ul class="nav__ul">
        <li>
          <a href="#"><%=I18n.t("privacy_policy") %></a>
        </li>

        <li>
          <a href="#"><%=I18n.t("terms_of_use") %></a>
        </li>

        <li>
          <a href="#"><%=I18n.t("sitemap") %></a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p><%=I18n.t("legal") %></p>

    <div class="legal__links">
      <span><%=I18n.t("legal__links") %></span>
    </div>
  </div>
</footer>



<!-- Nav Model -->
<div class="nav__model">
  <div class="nav_model-container">
    <!-- <form action="#" class="form__search">
        <button class="search__btn"><i class="fa fa-search" aria-hidden="true"></i></button>
        <input type="search" name="search" id="search" placeholder="Search for Gift">
    </form> -->

    <form action="#" class="model_search">
      <input type="text" placeholder="Serach" class="inputSearch">
      <button type="submit" class="model-search-btn"><i class="fa fa-search"></i></button>
    </form>
    <ul class="model_menus">
      <li class="model_item"><a href="#" class="model_link">Home</a></li>
      <li class="model_item"><a href="#" class="model_link">Products</a></li>
      <li class="model_item"><a href="#" class="model_link">Cart</a></li>
      <li class="model_item"><a href="#" class="model_link">Sign In</a></li>
    </ul>

    <button class="closeModelMenus"><i class="fa fa-remove"></i></button>
  </div>
</div>

<script src="./script.js"></script>
</body>
</html>