<header class="header">
  <span class="logo">My Appointment</span>
  <ul class="menu">
    <li class="list__item"><%= link_to "Home", root_path %></li>
    <li class="list__item"><%= link_to "Shops", shop_service_path %></li>
    <li class="list__item"><%= link_to "Facilities", facilities_service_path %></li>
    <li class="list__item"><%= link_to "Chat" %></li>
    <li class="list__item"><%= link_to "Profile" %></li>
  </ul>
</header>